.app-div {
	text-align: center;
}

.icon {
	cursor: pointer;
}

.tableRow:hover {
	background-color: lightgray;
}

.tableRow {
	transition: .5s ease;
}

.optionRed {
	color: red;
	background: green;
}
